<div class="footer">
   <div class="footer__logo">
      <img src="{{ asset('img/logo-green.png') }}" alt="Natours logo" />
   </div>
   <p class="footer__copyright">&copy; by Ray Abanid. All rights reserved.</p>
</div>